asn1crypto==1.5.1
certifi==2024.2.2
cffi==1.16.0
chardet==3.0.4
coverage==6.5.0
cryptography==42.0.5
google-api-python-client==2.85.0
httplib2==0.22.0
idna==3.7
oauth2client==1.5.2
pip==24.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==19.1.0
pylint==2.15.3
requests==2.31.0
rsa==4.9
six==1.16.0
uritemplate==3.0.1
urllib3
